@model MugOrder

@{
    ViewBag.Title = "Update Mug Order";
}

@{
    // TODO Lesson04 Task 3-2: Copy the code you completed in activity 2 to here to enable the interactivity in this view as well
}
@section ScriptSection {
    <script>
    function SetMugColor() {
        var selectedColor = $(this).val();
        $("#imgMug").css("background-color", selectedColor);
    };

        function SetPokemon() {
            // TODO Lesson04 Task 2-3 use jQuery this selector and val() method to assign the value of the element that trigger this function to a variable named pokeid
            var pokeid = $(this).val();
            
            var newsrc = "/images/" + pokeid + "-200.png";

            // TODO Lesson04 Task 2-4: use jQuery attr method to set the "src" attribute of element with id "imgPoke" to the value of the variable named newsrc
            $("#imgPoke").attr("src", newsrc);

        }

    $(document).ready(function () {
        // Change the colour of the Mug when different radio button is selected
        $("#rdColor1").change(SetMugColor);
        $("#rdColor2").change(SetMugColor);

        // TODO Lesson04 Task 2-5: use jQuery change Event method to call SetPokemon function whenever the value of select element with id ddlPoke changes
        $("#ddlPoke").change(SetPokemon);
        // TODO Lesson04 Task 2-6: use jQuery submit Event method to call javascript confirmation box with text "Proceed? Press OK to confirm" whenver there is a form submission
        $("form").submit(function () {
            confirm("Proceed? Press okay to confirm");
        });
    });
    </script>
}


<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-6">
        <form asp-controller="MugOrder" asp-action="Update" method="post" class="form-horizontal" role="form">
            <div class="form-horizontal">
                <div class="form-group row">
                    <label asp-for="Id" class="col-2 control-label text-sm-right"></label>
                    <div class="col-6">
                        <input asp-for="Id" readonly="readonly" />
                    </div>
                </div>

                <partial name="_MugOrder" />


                <div class="form-group row">
                    <div class="offset-sm-2 col-10">
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="divPreview" class="col-6">
        <img id="imgMug" src="~/images/mug.png" style="position:absolute;left:0;top:0;width:300px;height:300px;background-color:@Model.Color" />
        <img id="imgPoke" src="@String.Format(@"/images/{0}-200.png",Model.PokedexId)" style="position:absolute;left:20px;top:70px;height:180px;width:180px" />
    </div>

</div>
