
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>jQuery Demo</title>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script>
        function SetTextAreaPosition() {
            var leftAnchor = "5%";   // position for when anchor left
            var rightAnchor = "85%";  // position for  when anchor right
            var topAnchor = "5%";   // position for  when anchor top
            var bottomAnchor = "85%";  // position for  when anchor bottom

            // assign proper left and top position based on which radio button trigger the change event
            var posLeft = $(this).val() == 0 || $(this).val() == 2 ? leftAnchor : rightAnchor;
            var posTop = $(this).val() == 0 || $(this).val() == 1 ? topAnchor : bottomAnchor;

            // set the left and top css properties of taDemo text area
            $("#taDemo").css("left", posLeft);
            $("#taDemo").css("top", posTop);

            // set the rows attribute of taDemo text area based on the value of txtRows text box
            var rows = $("#txtRows").val();
            $("#taDemo").attr("rows", rows);
        }


        $(document).ready(function () {
            // call the SetTextAreaPostion whenever the radio buttons are checked or unchecked
            $("#rdAnchorTopLeft").change(SetTextAreaPosition);
            $("#rdAnchorTopRight").change(SetTextAreaPosition);
            $("#rdAnchorBottomLeft").change(SetTextAreaPosition);
            $("#rdAnchorBottomRight").change(SetTextAreaPosition);
        });
    </script>
</head>
<body>
    <textarea id="taDemo" rows="3" style="position:absolute;left:5%;top:5%">Anchorable text area</textarea>


    <div style="position:absolute;left:10%;top:30%">
        Anchor Position:
        <div>
            <input id="rdAnchorTopLeft" type="radio" name="anchorposition" value="0" checked="checked" /> Anchor Top Left <br />
            <input id="rdAnchorTopRight" type="radio" name="anchorposition" value="1" /> Anchor Top Right <br />
            <input id="rdAnchorBottomLeft" type="radio" name="anchorposition" value="2" /> Anchor Bottom Left <br />
            <input id="rdAnchorBottomRight" type="radio" name="anchorposition" value="3" /> Anchor Bottom Right <br />
        </div>
        <br />
        Number of Rows:
        <div>
            <input id="txtRows" value="3" />
        </div>
    </div>
</body>
</html>
