@model List<Question>

@{
    ViewBag.Title = "Questions";
}

@section ScriptSection {

    <script>
        function ConfirmDelete() {
            if (confirm("Are you sure you want to delete?") == false) {
                event.preventDefault();
                event.stopPropagation();
                return false;

            }
        }

        function LoadQtns(moduleId) {
            var url = "/Questions/GetQtns?moduleId=" + moduleId;

            $("#divQtnIndex").html("");
            $("#divQtnIndex").load(url);
        }

        $(document).ready(function () {

            $("#QtnSelect").change(function () {
                var moduleId = $("#QtnSelect").val();
                LoadQtns(moduleId);
            });

            LoadQtns(-1);
        })

    </script>
}

<h2>Question Bank</h2>

<span style="color:red">@TempData["Msg"]</span>
<br />
<p>
    <a asp-controller="Questions" asp-action="Create">Create New Question</a>
</p>

<div class="tab-content" style="margin-top:10px">
    <div class="col-sm-6">
        <select id="QtnSelect" asp-items="@((SelectList)ViewData["Topic"])" class="form-control">
            <option value="-1">All</option>
        </select>
    </div>

    <div id="divQtnIndex">
    </div>
    
</div>


<h2> test github</h2>

