@model Quiz

@{
    ViewBag.Title = "Create new quiz!";
}

@section ScriptSection {

    
    <script>
        function ConfirmCreate() {
            if (confirm("Confirm create Quiz?") == false) {
                event.preventDefault();
                event.stopPropagation();
                return false;

            }
        }

        function LoadQtns(moduleId) {
            var url = "/Questions/GetAddQtns?moduleId=" + moduleId;

            $("#divAddQtn").html("");
            $("#divAddQtn").load(url);
        }

        function LoadClass(classId) {
            var url = "/Class/GetClass?classId=" + classId;

            $("#divAddClass").html("");
            $("#divAddClass").load(url);
        }

        $(document).ready(function () {

            $("#QtnAddSelect").change(function () {
                var moduleId = $("#QtnAddSelect").val();
                LoadQtns(moduleId);
            });

            LoadClass(-1);
            LoadQtns(-1);
        })

    </script>
}


    <h2>@ViewData["Title"]</h2>

    <div class="row">
        <div class="col-sm-7">
            <span style="color:red">@ViewData["Msg"]</span><br />
            <form asp-controller="Quiz" asp-action="Create" method="post" class="form-horizontal" role="form">
                <div class="form-horizontal">
                    <partial name="_Quiz" />

                    <div id="divAddClass">
                    </div>

                    <div class="col-sm-6">
                        <select id="QtnAddSelect" asp-items="@((SelectList)ViewData["Topic"])" class="form-control">
                            <option value="-1">All</option>
                        </select>
                    </div>


                    <div id="divAddQtn">
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-10">
                            <input type="submit" value="Create" class="btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>