@model List<Quiz>

@{
    ViewBag.Title = "Quiz";
}

@section ScriptSection {

    <script>
        function ConfirmDelete() {
            if (confirm("Do you want to delete?") == false) {
                event.preventDefault();
                event.stopPropagation();
                return false;

            }
        }

        function LoadQuiz(moduleId) {
            var url = "/Quiz/GetQuiz?moduleId=" + moduleId;

            $("#divQuizIndex").html("");
            $("#divQuizIndex").load(url);
        }

        $(document).ready(function () {

            $("#QuizSelect").change(function () {
                var moduleId = $("#QuizSelect").val();
                LoadQuiz(moduleId);
            });

            LoadQuiz(-1);
        })

    </script>
}


<h2>Quiz</h2>

<span style="color:red">@TempData["Msg"]</span>
<br />

@if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
{
    <p>
        <a asp-controller="Quiz" asp-action="Create">Create New Quiz</a>
    </p>
}

<div class="tab-content" style="margin-top:10px">
    <div class="col-sm-6">
        <select id="QuizSelect" asp-items="@((SelectList)ViewData["Topic"])" class="form-control">
            <option value="-1">All</option>
        </select>
    </div>

    <div id="divQuizIndex">
    </div>

</div>