@model Question

@{
    var a = ViewData["QuizId"];
    var b = ViewData["Test"] as List<Quiz>;
    var c = ViewData["common"] as List<int>;
    ViewBag.Title = "Update Question!";
    int x = 1;
        }

        @section ScriptSection {


        <script>
            function ConfirmUpdate() {
                if (confirm("Are you sure you want to delete?") == false) {
                    event.preventDefault();
                    event.stopPropagation();
                    return false;

                }
            }

            function LoadQQUpdateTable(quizId, questionId) {
                var url = "/Quiz/GetQQTableUpdate?quizId=" + quizId + "&questionId=" + questionId;

                $("#divUpdateQuiz").html("");
                $("#divUpdateQuiz").load(url);
            }

            $(document).ready(function () {
                var qId = $("#questId").val();


                $("#QuizSelect").change(function () {
                    var quizId = $("#QuizSelect").val();
                    LoadQQUpdateTable(quizId, qId);
                });

                LoadQQUpdateTable(-1, qId);
            })

        </script>
        }

<input type="hidden" value="@a" name="QuizIdInput" id="QuizIdInput" />

        <h2>@ViewData["Title"]</h2>

        <div class="row">
            <div class="col-sm-7">
                <span style="color:red">@ViewData["Msg"]</span><br />
                <div class="container">

                    <form asp-controller="Quiz" asp-action="UpdateQuestions" method="post" class="form-horizontal" role="form">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label asp-for="QuestionId" class="col-sm-3 control-label">Question Id:</label>
                                <div class="col-sm-6">
                                    <input id="questId" name="questId" asp-for="QuestionId" class="form-control" readonly="readonly" />
                                </div>
                                <div class="has-error">
                                    <span asp-validation-for="QuestionId" class="text-danger"></span>
                                </div>
                            </div>

                            <partial name="_Questions" />

                            <div class="col-sm-6">
                                Quiz Topic:
                                <select id="QuizSelect" name="QuizSelect" asp-items="@((SelectList)ViewData["Topic"])" class="form-control">
                                    <option value="-1">All</option>
                                </select>
                            </div>

                            <div id="divUpdateQuiz">
                            </div>


                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-10">
                                    <input type="submit" value="Update" class="btn-primary" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
