@model List<Question>

@{
    ViewBag.Title = "View Questions";
    var a = ViewData["QuizId"];
    int x = 1;
}


@section ScriptSection {

    <script>
        function ConfirmDelete() {
            if (confirm("Are you sure you want to delete?") == false) {
                event.preventDefault();
                event.stopPropagation();
                return false;

            }
        }

    </script>
}


<span style="color:red">@TempData["Msg"]</span>
<br />
<p>
    <a asp-controller="Quiz" asp-action="CreateQuestions" asp-route-id="@a">Add New Question Into Quiz</a>
</p>

<input type="hidden" value="@a" name="QuizIdInput" id="QuizIdInput" />

<div class="tab-content" style="margin-top:10px">
    <div>
        <partial name="_QQTable" />
    </div>
</div>
