@model ShirtOrder

<div class="form-group row">
    <label asp-for="Name" class="col-4 control-label text-sm-right"></label>
    <div class="col-6">
        <input asp-for="Name" class="form-control" />
    </div>
</div>
<div class="form-group row">
    <label asp-for="Color" class="col-4 control-label text-sm-right"></label>
    <div class="col-8">
        <input type="radio" id="rdColor1" asp-for="Color" value="white" checked="checked" /> White
        <input type="radio" id="rdColor2" asp-for="Color" value="crimson" /> Crimson
        <input type="radio" id="rdColor3" asp-for="Color" value="khaki" /> Khaki
        <input type="radio" id="rdColor4" asp-for="Color" value="linen" /> Linen
    </div>
</div>
<div class="form-group row">
    <label asp-for="Price" class="col-4 control-label text-sm-right"></label>
    <div class="col-6">
        <input asp-for="Price" class="form-control" />
    </div>
</div>
<div class="form-group row">
    <label asp-for="PokedexId" class="col-4 control-label text-sm-right">Pokedex</label>
    <div class="col-6">
        <select id="ddlPoke" class="form-control col-6" asp-for="PokedexId"
                asp-items="@((SelectList)ViewData["pokes"])">
            <option value="">-- SELECT --</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <label asp-for="FrontPosition" class="col-4 control-label text-sm-right">Logo Position (Front)</label>
    <div class="col-7">
        <input id="rdPosLeft" type="radio" asp-for="FrontPosition" value="0" checked="checked" /> Left
        <input id="rdPosRight" type="radio" asp-for="FrontPosition" value="1" /> Right
    </div>
</div>
<div class="form-group row">
    <label asp-for="Qty" class="col-4 control-label text-sm-right"></label>
    <div class="col-6">
        <input asp-for="Qty" class="form-control" />
    </div>
</div>

//18043018 khai
